@{
    ViewBag.Title = "關於本實驗";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>這是一個不成熟的創新想法。</p>

<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="badge badge-info"><strong>聲明</strong></span>
    本實驗與 PTT 站方無關，純粹驗證技術可行性。
    <p>我們就像自主整理的看板名單，當板友自介，我們使用網站技術協助整理有效的板友名單。</p>
    <p>我們是輔助性質，我們重視看板自主與各看板的日常運作，所以我們不超越 PTT、不干預 PTT、不背書 PTT。</p>
    <p>我們專注在 PTT ID 是否通過第三方驗證，而我們就是第三方。</p>
    <p>若您不認同本服務為法律上的善意第三人，請立刻停止使用本站服務。</p>
    <p>政府以此概念的類似驗證服務沒有立刻開放給民間使用，我們是第一個實作的民間版本。</p>
    <a href="https://fido.moi.gov.tw/" class="btn btn-danger">TAIWAN FidO行動身分識別</a>
    <a href="https://money.udn.com/money/story/5648/4121623" class="btn btn-primary">內政部推手機綁自然人憑證</a>
</div>

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="badge badge-info"><strong>資金</strong></span>
    本實驗資金來自於一張中獎的統一發票，當資金燒完，我們就結束實驗。
</div>

<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="badge badge-info"><strong>板主</strong></span>
    未來如果你是你是板主身分，你可以申請目前有通過驗證的板友名單。
</div>

<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="badge badge-info"><strong>板友</strong></span>
    未來如果你是板友身分且通過驗證，你可以登記成為某板的板友名單。
</div>

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="badge badge-info"><strong>技術</strong></span>
    不支援清單：齒模、刷臉、虹膜、指靜脈、聲紋、指紋、空中簽名。
</div>

<div class="alert alert-dismissible ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

</div>