@{
    ViewBag.Title = "聯絡我們";
}
<h2>@ViewBag.Title.</h2>

<label>郵政信箱：</label>
<address>
    P.O.BOX 191-89 TAIPEITaipei City 11599Taiwan(R.O.C)<br />
</address>

<label>E-Mail:</label>
<address>
    <a href="mailto:it@TWID.app">it@TWID.app</a><br />
</address>