<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TWIDAPPEntities" 
		 connectionString="metadata=res://*/WebDB.csdl|res://*/WebDB.ssdl|res://*/WebDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TWID_APP;persist security info=True;user id=帳號;password=密碼;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>